Build started...
Build succeeded.
[15:41:27 WRN] The property 'CodeOrder.StatusHistoryJson' is a collection or enumeration type with a value converter but with no value comparer. Set a value comparer to ensure the collection/enumeration elements are compared correctly.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;
CREATE TABLE "Factories" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Name" text NOT NULL,
    "ExternalUid" uuid NOT NULL,
    CONSTRAINT "PK_Factories" PRIMARY KEY ("Id")
);

CREATE TABLE "Locations" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Name" text NOT NULL,
    "ExternalUid" uuid NOT NULL,
    CONSTRAINT "PK_Locations" PRIMARY KEY ("Id")
);

CREATE TABLE "MarkingLines" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Name" text NOT NULL,
    "ExternalUid" uuid NOT NULL,
    CONSTRAINT "PK_MarkingLines" PRIMARY KEY ("Id")
);

CREATE TABLE "PackageRequests" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Filename" character varying(100),
    "User" character varying(20) NOT NULL,
    "Status" integer NOT NULL,
    "RecordDate" timestamp with time zone NOT NULL DEFAULT (NOW()),
    "StatusHistory" jsonb,
    CONSTRAINT "PK_PackageRequests" PRIMARY KEY ("Id")
);

CREATE TABLE "Products" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Type" integer NOT NULL,
    "Gtin" character varying(20) NOT NULL,
    "Name" character varying(200) NOT NULL,
    "ExternalUid" uuid NOT NULL,
    "RecordDate" timestamp with time zone NOT NULL DEFAULT (NOW()),
    CONSTRAINT "PK_Products" PRIMARY KEY ("Id")
);

CREATE TABLE "Packages" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Code" character varying(100) NOT NULL,
    "SSCCCode" character varying(100) NOT NULL,
    "Status" integer NOT NULL,
    "Content" jsonb,
    "ContentApplicationGuid" uuid,
    "AggregationGuid" uuid,
    "RecordDate" timestamp with time zone NOT NULL DEFAULT (NOW()),
    "StatusHistory" jsonb,
    "PackageRequestId" integer NOT NULL,
    CONSTRAINT "PK_Packages" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Packages_PackageRequests_PackageRequestId" FOREIGN KEY ("PackageRequestId") REFERENCES "PackageRequests" ("Id") ON DELETE CASCADE
);

CREATE TABLE "CodeOrders" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Type" integer NOT NULL,
    "ProductId" integer NOT NULL,
    "Count" integer NOT NULL,
    "Status" integer NOT NULL,
    "ExternalGuid" uuid,
    "Description" character varying(100),
    "User" character varying(20),
    "RecordDate" timestamp with time zone NOT NULL DEFAULT (NOW()),
    "StatusHistoryJson" jsonb NOT NULL,
    "StatusMessage" text,
    CONSTRAINT "PK_CodeOrders" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_CodeOrders_Products_ProductId" FOREIGN KEY ("ProductId") REFERENCES "Products" ("Id") ON DELETE CASCADE
);

CREATE TABLE "CodeOrdersContents" (
    "Id" integer NOT NULL,
    "CodeOrderId" integer NOT NULL,
    "OrderContent" text[] NOT NULL,
    "RecordDate" timestamp with time zone NOT NULL DEFAULT (NOW()),
    "DownloadHistory" jsonb,
    CONSTRAINT "PK_CodeOrdersContents" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_CodeOrdersContents_CodeOrders_CodeOrderId" FOREIGN KEY ("CodeOrderId") REFERENCES "CodeOrders" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_CodeOrdersContents_CodeOrders_Id" FOREIGN KEY ("Id") REFERENCES "CodeOrders" ("Id") ON DELETE CASCADE
);

INSERT INTO "Factories" ("Id", "ExternalUid", "Name")
VALUES (1, '326e5c13-4280-4078-be01-ebed9d73716a', 'DefaulFactory');

INSERT INTO "Locations" ("Id", "ExternalUid", "Name")
VALUES (1, 'd4ee03fa-497e-4228-8db4-505c13e6b3bb', 'DefaulLocation');

INSERT INTO "MarkingLines" ("Id", "ExternalUid", "Name")
VALUES (1, '0e3cf053-078c-44a7-a198-74cb4d66caf4', 'DefaulMarkingLine');

CREATE INDEX "IX_CodeOrders_ProductId" ON "CodeOrders" ("ProductId");

CREATE UNIQUE INDEX "IX_CodeOrdersContents_CodeOrderId" ON "CodeOrdersContents" ("CodeOrderId");

CREATE UNIQUE INDEX "IX_Packages_Code" ON "Packages" ("Code");

CREATE INDEX "IX_Packages_PackageRequestId" ON "Packages" ("PackageRequestId");

CREATE UNIQUE INDEX "IX_Packages_SSCCCode" ON "Packages" ("SSCCCode");

SELECT setval(
    pg_get_serial_sequence('"Factories"', 'Id'),
    GREATEST(
        (SELECT MAX("Id") FROM "Factories") + 1,
        nextval(pg_get_serial_sequence('"Factories"', 'Id'))),
    false);
SELECT setval(
    pg_get_serial_sequence('"Locations"', 'Id'),
    GREATEST(
        (SELECT MAX("Id") FROM "Locations") + 1,
        nextval(pg_get_serial_sequence('"Locations"', 'Id'))),
    false);
SELECT setval(
    pg_get_serial_sequence('"MarkingLines"', 'Id'),
    GREATEST(
        (SELECT MAX("Id") FROM "MarkingLines") + 1,
        nextval(pg_get_serial_sequence('"MarkingLines"', 'Id'))),
    false);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250122114504_InitialCreate', '9.0.1');

COMMIT;


