@page "/containers2"
@inject IPackageRequestService RequestService

<h3>Package Requests</h3>

<div>
    <InputFile OnChange="OnFileSelected" accept=".txt" />
</div>

<div class="container">
    <div class="table-container" style="width: 75%;font-size: 12px;">
        @if (packageRequests == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <CustomTable Items="packageRequests" Columns="columns" OnRowClick="EventCallback.Factory.Create<PackageRequest>(this, OnPackageRequestClick)" SelectedItem="selectedPackageRequest" />
        }
    </div>
    <div class="details-container" style="width: 25%;font-size: 12px;">
        @if (selectedPackageRequest != null && selectedPackageRequest.Packages.Any())
        {
            <h4>Package Details</h4>
            <CustomTable Items="selectedPackageRequest.Packages" Columns="packageColumns" />
        }
        else
        {
            <p>Select a request to view package details.</p>
        }
    </div>
</div>

@code {
    private IEnumerable<PackageRequest>? packageRequests;
    private List<CustomTable<PackageRequest>.ColumnDefinition<PackageRequest>> columns = new();
    private List<CustomTable<Package>.ColumnDefinition<Package>> packageColumns = new();
    private PackageRequest? selectedPackageRequest;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            packageRequests = await RequestService.GetPackageRequestsAsync();
            columns = new()
            {
                new() { Header = "ID", Value = p => p.Id },
                new() { Header = "File Name", Value = p => p.Filename },
                new() { Header = "Status", Value = p => p.Status },
                new() { Header = "Record Date", Value = p => p.RecordDate }
            };
            packageColumns = new()
            {
                new() { Header = "Code", Value = p => p.Code },
                new() { Header = "SSCC", Value = p => p.SSCCCode },
                new() { Header = "Status", Value = p => p.Status }
            };
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching package requests: {ex.Message}");
        }
    }

    private async Task OnPackageRequestClick(PackageRequest packageRequest)
    {
        selectedPackageRequest = await RequestService.GetPackageRequestByIdAsync(packageRequest.Id);
    }

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        try
        {
            var file = e.File;
            var packages = new List<PackageCouple>();

            using var stream = file.OpenReadStream();
            using var reader = new StreamReader(stream);
            var lines = new List<string>();

            while (await reader.ReadLineAsync() is string line)
            {
                lines.Add(line);
            }

            for (int i = 0; i < lines.Count - 1; i += 2)
            {
                packages.Add(new PackageCouple
                    {
                        Code = lines[i],
                        SSCCCode = lines[i + 1]
                    });
            }

            var packageRequestForm = new PackageRequestForm
                {
                    Filename = file.Name,
                    packages = packages
                };

            await RequestService.CreatePackageRequestAsync(packageRequestForm);
            packageRequests = await RequestService.GetPackageRequestsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error processing file: {ex.Message}");
        }
    }
}