@page "/containers"
@inject IPackageRequestService RequestService

<h3>Package Requests</h3>

<div class="container">
    <div class="table-container">
        @if (packageRequests == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <CustomTable Items="packageRequests" Columns="columns" OnRowClick="EventCallback.Factory.Create<PackageRequest>(this, OnPackageRequestClick)" SelectedItem="selectedPackageRequest" />
        }
    </div>
    <div class="details-container">
        @if (selectedPackageRequest != null && selectedPackageRequest.Packages != null)
        {
            <h4>Packages</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>SSCC</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var package in selectedPackageRequest.Packages)
                    {
                        <tr>
                            <td>@package.Code</td>
                            <td>@package.SSCCCode</td>
                            <td>@package.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Select a package request to view packages.</p>
        }
    </div>
</div>

@* <input type="file" @onchange="EventCallback.Factory.Create<InputFileChangeEventArgs>(this, OnFileUpload)" /> *@

@code {
    private IEnumerable<PackageRequest>? packageRequests;
    private List<CustomTable<PackageRequest>.ColumnDefinition<PackageRequest>> columns = new();
    private PackageRequest? selectedPackageRequest;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            packageRequests = await RequestService.GetPackageRequestsAsync();
            columns = new()
            {
                new() { Header = "ID", Value = pr => pr.Id },
                new() { Header = "File Name", Value = pr => pr.Filename },
                new() { Header = "Status", Value = pr => pr.Status },
                new() { Header = "Record Date", Value = pr => pr.RecordDate }
            };
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching package requests: {ex.Message}");
        }
    }

    private async Task OnPackageRequestClick(PackageRequest packageRequest)
    {
        selectedPackageRequest = packageRequest;
    }

    private async Task OnFileUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            var lines = await ReadFileLinesAsync(file);
            var links = new List<PackageCouple>();

            for (int i = 0; i < lines.Length; i += 2)
            {
                var code = lines[i];
                var ssccCode = i + 1 < lines.Length ? lines[i + 1] : string.Empty;
                links.Add(new PackageCouple { Code = code, SSCCCode = ssccCode });
            }

            var packageRequestForm = new PackageRequestForm
                {
                    Filename = file.Name,
                    packages = links
                };

            await RequestService.CreatePackageRequestAsync(packageRequestForm);
            packageRequests = await RequestService.GetPackageRequestsAsync();
        }
    }

    private async Task<string[]> ReadFileLinesAsync(IBrowserFile file)
    {
        using var stream = file.OpenReadStream();
        using var reader = new StreamReader(stream);
        var content = await reader.ReadToEndAsync();
        return content.Split(new[] { Environment.NewLine }, StringSplitOptions.RemoveEmptyEntries);
    }
}