@page "/ContainerInfo"

@* @using TJ8.TJProcessing.Model.ExternalResponses.Container
@inject WeatherApiClient WeatherApi
@inject TJ8.TJProcessing.Services.Contracts.IExternalContainer containerService 

<PageTitle>Container Info</PageTitle>

<h1>Container Info</h1>

<CustomTable Data="[containerInfo]" />

@code {
    
    private WeatherForecast[] forecasts = [];
    private ContainerInfoResponse? containerInfo ;

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await WeatherApi.GetWeatherAsync();
        
        var data = await containerService.ContainerInfo("00146002661100597444");

        if (data.Content is not null)
            containerInfo = data.Content; 
    } 
}*@