@inherits LayoutComponentBase

<HeadContent>
    <meta name="application-name" content="Abdulla" />
</HeadContent>
<PageTitle>Abdulla</PageTitle>

<div class="page">
    <NavMenu />
    <main class="main-content">
        <div class="top-bar">
            <span class="env-tag">Production-Test Contour</span>
        </div>
        <div class="content-area">
            @Body
        </div>
    </main>
</div>
